@* @model User *@
@{
    int? uid = @Context.Session.GetInt32("UserId");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="BackgroundWrapper">
        <div class="InnerWrapper">
            <form asp-controller="Home" asp-action="Logout" method="Post">
                <p style="display: inline-block;"><a asp-controller="Home" asp-action="Dashboard">Dashboard</a> | <a asp-action="ViewAll" asp-controller="Event">View all events</a> | <a asp-action="ViewAllSeries" asp-controller="Series">View all Series</a> | <a asp-action="ViewAllPatrons" asp-controller="Patron">View all Patrons</a> </p>
                <input style="margin-left: 300px;" type="submit" value="logout">
            </form>
            <h3>This is the dashboard.</h3>
            <div style="width: 400px; display: inline-block;">
                @if(ViewBag.CurrentUser.AccessLevel == "HeadAdmin")
                {
                    <p>Patron Information</p>
                    <button><a asp-controller="Patron" asp-action="CreatePatron">Add a new Patron</a></button>
                    <button><a asp-controller="Patron" asp-action="ViewAllPatrons">See all Patrons</a></button>
                    <form asp-controller="Patron" asp-action="SearchPatrons" method="Get">
                        <label for="SearchTerm">Search Patrons:</label>
                        <br>
                        <input name="SearchTerm" type="text">
                        <input type="submit" value="Search">
                    </form>
                    <br>
                    <p>Event Information:</p>
                    <button><a asp-controller="Event" asp-action="Create">Create a new Event</a></button>
                    <button><a asp-controller="Event" asp-action="ViewAll">See all Events</a></button>
                    <form asp-controller="Event" asp-action="SearchEvents" method="Get">
                        <label for="SearchTerm">Search Event:</label>
                        <br>
                        <input name="SearchTerm" type="text">
                        <input type="submit" value="Search">
                    </form>
                    <br>
                    <p>Series Information</p>
                    <button><a asp-controller="Series" asp-action="CreateSeries">Create a new Series</a></button>
                    <button><a asp-controller="Series" asp-action="ViewAllSeries">See all Series</a></button>
                    <form asp-controller="Series" asp-action="SearchSeries" method="Get">
                        <label for="SearchTerm">Search Series:</label>
                        <br>
                        <input name="SearchTerm" type="text">
                        <input type="submit" value="Search">
                    </form>
                    <br>
                    <button><a asp-controller="Seat" asp-action="CreateSeat">Seat form cause I have to.</a></button>
                    
                    
                }
                else if(ViewBag.CurrentUser.AccessLevel == "GeneralAdmin")
                {
                    <p>Patron Information</p>
                    <button><a asp-controller="Patron" asp-action="CreatePatron">Add a new Patron</a></button>
                    <button><a asp-controller="Patron" asp-action="ViewAllPatrons">See all Patrons</a></button>
                    <form asp-controller="Patron" asp-action="SearchPatrons" method="Get">
                        <label for="SearchTerm">Search Patrons:</label>
                        <br>
                        <input name="SearchTerm" type="text">
                        <input type="submit" value="Search">
                    </form>
                    <br>
                    <p>Series Information</p>
                    <button><a asp-controller="Series" asp-action="CreateSeries">Create a new Series</a></button>
                    <button><a asp-controller="Series" asp-action="ViewAllSeries">See all Series</a></button>
                    <form asp-controller="Series" asp-action="SearchSeries" method="Get">
                        <label for="SearchTerm">Search Series:</label>
                        <br>
                        <input name="SearchTerm" type="text">
                        <input type="submit" value="Search">
                    </form>
                }
                else if (ViewBag.CurrentUser.AccessLevel == "NewEmployee")
                {
                    <p>Patron Information</p>
                    <button><a asp-controller="Patron" asp-action="CreatePatron">Add a new Patron</a></button>
                    <button><a asp-controller="Patron" asp-action="ViewAllPatrons">See all Patrons</a></button>
                    <form asp-controller="Patron" asp-action="SearchPatrons" method="Get">
                        <label for="SearchTerm">Search Patrons:</label>
                        <br>
                        <input name="SearchTerm" type="text">
                        <input type="submit" value="Search">
                    </form>
                }
            </div>
            <div style="width: 300px; display: inline-block; Vertical-Align:top;">
                <h3>Total Profits:</h3>
                <p>Total Ticket Income: $@Math.Round(ViewBag.TotalSales,2)</p>
                <p>Total Donation amount: $@Math.Round(ViewBag.TotalDonations,2)</p>
                <img src="@ViewBag.TheatreLayout" alt="Seating chart of CodingDojo Productions, Mainstage" style="width: 130%; height: auto; border: 3px solid black;">
            </div>

            @* <div>
                @{
                    var MyChart = new Chart(width: 200, height: 200)
                        .AddTitle("Test")
                        .AddSeries(chartType: "column",
                            xValue: new[] {"A", "B", "C"},
                            yValues: new[] {"1", "2","3"})
                        .Write();

                }
            </div> *@
            
        </div>
    </div>
</body>
</html>