@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="BackgroundWrapper">
        <div class="InnerWrapper">
            <h1 style="text-align: Center;">Ticket'R</h1>
            <partial name="_LoginPartial"/>
            </br>
            <p style="text-align: center;"><a asp-action="Registration" asp-controller="Home">Register?</a></p>
        </div>
    </div>
</body>
</html>
